	<div class="heading-spacer"></div>
	<div class="container">
		<div class="modal fade profileModal" id="profileOverlay">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Edit profile</h4>
					</div>
					<div class="modal-body">
						<!-- Rework this modal to use more bootstrap form classes -->
						<div class="info-div">
							Username: <span class="info-username">{{user.username}}</span>
						</div>
						<div class="info-div">
							Edit password: 
							<button class="input-edit btn btn-primary btn-sm right-align" data-id="password"><i class="fa fa-pencil-square-o"></i></button>
							<div class="input-div hidden" data-id="password">
								Current password: <br>
								<input type="password" id="input-current-password" class="form-control" placeholder="Your current password."><br>
								<p class="alert-current-password form-error-text hidden">Invalid password</p>
								New password: <br>
								<input type="password" id="input-password" class="form-control" placeholder="Your new password."><br>
								<p class="alert-password form-error-text hidden">Password must be at least 8 characters</p>
								Re-enter password: <br>
								<input type="password" id="input-password2" class="form-control" placeholder="Re-enter the new password."><br>
								<p class="alert-password2 form-error-text hidden">Passwords do not match</p>
								<button type="button" class="password-submit btn btn-default" data-id="password">Submit</button>
								<button type="button" class="input-cancel btn btn-default" data-id="password">Cancel</button>
							</div>
						</div>
						<div class="info-div">
							Name: <span class="info-fullname titlecaps"><span class="info-firstname">{{user.firstname}}</span> <span class="info-lastname">{{user.lastname}}</span></span>
							<button class="input-edit btn btn-primary btn-sm right-align" data-id="fullname"><i class="fa fa-pencil-square-o"></i></button>
							<div class="input-div hidden" data-id="fullname">
                            	First Name: <br>
								<input type="text" id="input-firstname" class="form-control" placeholder="Your first name (ninjas will see this name)."><br>
                            	Last Name: <br>
                            	<input type="text" id="input-lastname" class="form-control" placeholder="Your last name (ninjas will see this name)."><br>
								<p class="alert-fullname form-error-text hidden"></p>
								<button type="button" class="fullname-submit btn btn-default" data-id="fullname">Submit</button>
								<button type="button" class="input-cancel btn btn-default" data-id="fullname">Cancel</button>
							</div>
						</div>
						<div class="info-div">
							Email: <span class="info-email">{{user.email}}</span>
							<button class="input-edit btn btn-primary btn-sm right-align" data-id="email"><i class="fa fa-pencil-square-o"></i></button>
							<div class="input-div hidden" data-id="email">
								<input type="text" id="input-email" class="form-control" placeholder="Your email."><br>
								<p class="alert-email form-error-text hidden"></p>
								<button type="button" class="email-submit btn btn-default" data-id="email">Submit</button>
								<button type="button" class="input-cancel btn btn-default" data-id="email">Cancel</button>
							</div>
						</div>
						<!-- This code may be adapted if mentors are restricted to certain dojos -->
						<!-- <div class="info-div"> 
							Dojos: 
							<button class="input-edit btn btn-primary btn-sm right-align" data-id="dojos"><i class="fa fa-pencil-square-o"></i></button>
							<div class="input-div hidden" data-id="dojos">
								Your dojos: 
								<ul id="dojo-list">
								-->
									<!-- populate list from server
									<input type="checkbox" class="input-dojo form-control">
								 -->
								 <!--
								</ul>
								<button type="button" class="dojos-submit btn btn-default" data-id="dojos">Submit</button>
								<button type="button" class="input-cancel btn btn-default" data-id="dojos">Cancel</button>
							</div>
						</div> -->
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-3 controls">
				<div class="user-info-panel panel panel-primary" data-name="{{user.fullname}}" data-email="{{user.email}}" data-username="{{user.username}}" data-type="mentor" {{user.expire}} {{user.demomode}}>
					<div class="panel-heading">
						<h3 class="panel-title">CoderDojo</h3>
					</div>
					<div class="panel-body">
						<div class="col-xs-12" style="text-align:center;">
							Name: <span class="info-fullname titlecaps"><span class="info-firstname">{{user.firstname}}</span> <span class="info-lastname">{{user.lastname}}</span></span>
						</div>
						<button type="button" class="col-xs-12 user-info-btn btn btn-primary btn-sm" data-toggle="modal" data-target="#profileOverlay">
							<i class="fa fa-pencil-square-o"></i>
							Edit profile
						</button>
						<a href="./logout" class="col-xs-12 btn btn-default btn-sm">Logout</a>
					</div>
				</div>
				<div class="chat-panel panel panel-primary" style="display: none;">
					<div class="panel-heading">
						<h3 class="panel-title">Chatting With <span class="remote-name titlecaps"></span></h3>
					</div>
					<div class="panel-body chat-body-stop hidden">
						<div class="col-xs-12">
							Your Microphone:<br>
							<div class="progress levels-local">
								<div class="progress-bar progress-bar-success" style="width: 0"></div>
							</div>
						</div>
						<div class="col-xs-12">
							Ninja's Microphone:<br>
							<div class="progress levels-remote">
								<div class="progress-bar progress-bar-success" style="width: 0"></div>
							</div>
						</div>
						<!--<div class="col-xs-12 screen-local-box hidden">
							Your Screen/Webcam:<br>
							<div class="screen-local">
								<canvas class="screen-local-canvas" style="width:100%;"></canvas>
							</div>
							<br>
							<div class="btn btn-warning screen-local-stop hidden">Stop Screen Sharing</div>
						</div>
						<br>
						<div class="webcam-controls panel-body">
							<div class="col-xs-6 btn btn-default screen-local-start">Screen</div>
							<div class="col-xs-6 btn btn-default webcam-local-start">Webcam</div>
							<div class="col-xs-12 btn btn-default switch-canvas">Expand video</div>
						</div>-->
						<br>
						<div class="col-xs-12 btn btn-default chat-btn-stop">Leave Chat</div>

					</div>
				</div>
				<div class="queue-panel panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Queue</h3>
					</div>
					<div class="panel-body chat-body-request">
						<div class="col-xs-4" style="font-size: 3em;"><i class="fa fa-comments fa-3"></i></div>
						<div class="col-xs-8">There are no current Ninjas that need help.<br><br></div>
					</div>
					<ul class="panel-body req-list hidden list-group chat-body-start" style="padding:0;text-align:center;">
					</ul>
					<script class="req-list-item-template" type="text/x-handlebars-template">
						<li class="list-group-item req-list-item" id="req-\{{cleanstok}}">
							\{{fullname}} from dojo \{{dojo}} wants help!<br>
							<button class="btn btn-success chat-btn-start" data-sessiontoken="\{{sessiontoken}}" id="req-btn-\{{cleanstok}}">Answer <i class="fa fa-phone"></i></button>
							<button class="btn btn-danger chat-btn-ignore" data-sessiontoken="\{{sessiontoken}}" id="req-ignore-btn-\{{cleanstok}}" disabled>Ignore <i class="fa fa-close"></i></button>
						</li>
					</script>
				</div>
			</div>
			<div class="col-md-9 workarea">
				<div class="screen-remote-box panel panel-primary hidden">
					<ul class="panel-heading nav nav-tabs">
                    	<li class="active tab-chat"><a href="#wa-chat" data-toggle="tab"><i class="fa fa-terminal"></i> Chat</a></li>
						<li style="display:none;" class="tab-remote-screen"><a href="#wa-ninja-screen" data-toggle="tab"><i class="fa fa-desktop"></i> Ninja Screen</a></li>
                    	<li style="display:none;" class="tab-local-screen"><a href="#wa-mentor-screen" data-toggle="tab"><i class="fa fa-desktop"></i> Mentor Screen <i class="fa fa-times screen-local-stop"></i></a></li>
                    	<li style="display:none;" class="tab-local-webcam"><a href="#wa-mentor-screen" data-toggle="tab"><i class="fa fa-camera"></i> Mentor Webcam <i class="fa fa-times screen-local-stop"></i></a></li>
                    	<li class="dropdown">
    						<a class="dropdown-toggle" data-toggle="dropdown" href="#">
      							Share <span class="caret"></span>
    						</a>
    						<ul class="dropdown-menu">
      							<li><a class="screen-local-start" href="javascript:"><i class="fa fa-desktop"></i> Screen</a></li>
                            	<li><a class="webcam-local-start" href="javascript:"><i class="fa fa-camera"></i> Webcam</a></li>
      							<li class="divider"></li>
      							<li><a class="new-editor" href="javascript:"><i class="fa fa-i-cursor"></i> Text Editor</a></li>
    						</ul>
  						</li>
					</ul>
					<div class="panel-body tab-content">
                    	<div class="tab-pane fade active in" id="wa-chat">
                    		<div class="chat-list-wrap">
    							<ul class="list-group chat-list"></ul>
        						<div class="input-group">
                					<textarea class="form-control resizeBox chat-input" placeholder="Type a message" rows="1"></textarea>
									<span class="input-group-btn">
										<button class="btn btn-default btn-sm chat-send" type="button">Send</button>
									</span>
								</div>
    						</div>
                    	</div>
                    	<div class="tab-pane fade screen-remote" id="wa-ninja-screen">
							<canvas class="screen-remote-canvas" style="width:100%;"></canvas>
                        </div>
                    	<div class="tab-pane fade screen-local" id="wa-mentor-screen">
							<canvas class="screen-local-canvas" style="width:100%;"></canvas>
						</div>
					</div>
				</div>
			</div>
			<div class="dump hidden">
				<video class="dump-local" controls autoplay muted></video>
				<video class="dump-remote" controls autoplay></video>
				<audio class="dump-local" controls autoplay muted></audio>
				<audio class="dump-remote" controls autoplay></audio>
			</div>
		</div>
	</div>
	<div class="footer-spacer"></div>

