
	<div class="heading-spacer"></div>
	<div class="container">
		<div class="modal fade profileModal" id="profileOverlay">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close lastname-close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Pick a Username</h4>
					</div>
					<div class="modal-body">
                    	{{#each animals}}
                    		<div class="col-xs-4 col-md-3">
								<input type="radio" id="input-lastname-{{this}}" name="input-lastname" class="form-control animal-radio" value="{{this}}">
                            	<label for="input-lastname-{{this}}" class="animal-label titlecaps">
                            		<div class="animals {{this}}" style="width:3em;height:3em;"></div><br>
                                	{{this}}
                            	</label>
                            	<div class="animal-highlight"></div>
                            </div>
                    	{{/each}}
						<p class="alert-lastname form-error-text hidden"></p>
					</div>
					<div class="modal-footer">
						<button type="button" class="lastname-submit btn btn-default">Submit</button>
						<button type="button" class="lastname-close btn btn-default" data-dismiss="modal">Cancel</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-3 controls">
				<div class="user-info-panel panel panel-primary" data-name="{{user.fullname}}" data-type="ninja" {{user.expire}} {{user.demomode}}>
					<div class="panel-heading">
						<h3 class="panel-title">CoderDojo</h3>
					</div>
					<div class="panel-body" style="text-align: center;">
						<div class="col-xs-12">
                        	<div class="animals {{user.lastname}}" style="width:5em;height:5em;"></div><br>
							Name: 
                        	<span class="info-fullname titlecaps"><span class="info-firstname">{{user.firstname}}</span> <span class="info-lastname">{{user.lastname}}</span></span>
						</div>
						<button type="button" class="col-xs-12 user-info-btn btn btn-primary btn-sm" data-toggle="modal" data-target="#profileOverlay">
							<i class="fa fa-pencil-square-o"></i>
							Change name
						</button>
						<a href="./logout" class="col-xs-12 btn btn-default btn-sm">Logout</a>
					</div>
				</div>
				<div class="mentor-list-panel panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Mentors</h3>
					</div>
					<ul class="panel-body list-group mentor-list" style="padding: 0;">
						{{#each mentors}}
							<li class="list-group-item mentor-list-item titlecaps" data-username="{{this.username}}" id="mentor-{{this.username}}">
								<span class="label label-{{this.label}}" style="float: right">{{this.status}}</span>
								{{this.fullname}}
							</li>
						{{/each}}
					</ul>
				</div>
				<div class="chat-panel panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Chat</h3>
					</div>
					<div class="panel-body chat-body-request">
						<div class="col-xs-4" style="font-size: 3em;"><i class="fa fa-comments fa-3"></i></div>
						<div class="col-xs-8">To chat with the mentor, click on 'Start Chat' button.<br><br></div>
						<div class="col-xs-12 btn btn-default chat-btn-start">Start Chat</div>
					</div>
					<div class="panel-body chat-body-start hidden">
						<div class="col-xs-4" style="font-size: 3em;"><i class="fa fa-comments fa-3"></i></div>
						<div class="col-xs-8">Finding a mentor, hold on a moment!<br><br></div>
						<div class="col-xs-12 progress" style="margin: 0; height: 3px; padding: 0;">
							<div class="progress-bar progress-bar-warning" style="width:0"></div>
						</div>
						<div class="col-xs-12 btn btn-default chat-btn-cancel">Leave Chat</div>
					</div>
					<div class="panel-body chat-body-stop hidden">
                    	<div class="col-xs-12">
                        	Chatting With <span class="remote-name titlecaps"></span><br><br>
                        </div>
						<div class="col-xs-12">
							Your Microphone:<br>
							<div class="progress levels-local">
								<div class="progress-bar progress-bar-success" style="width: 0"></div>
							</div>
						</div>
						<div class="col-xs-12">
							Mentor's Microphone:<br>
							<div class="progress levels-remote">
								<div class="progress-bar progress-bar-success" style="width: 0"></div>
							</div>
						</div>
						<!--<div class="col-xs-12 screen-local-box hidden">
							Your Screen:<br>
							<div class="screen-local">
								<canvas class="screen-local-canvas"></canvas>
							</div>
							<br>
							<div class="btn btn-warning screen-local-stop hidden">Stop Screen Sharing</div>
						</div>
						<br>
						<div class="col-xs-12 btn btn-default screen-local-start">Share Your Screen</div>
						<div class="col-xs-12 btn btn-default switch-canvas">Expand video</div>-->
						<br>
						<div class="col-xs-12 btn btn-default chat-btn-stop">Leave Chat</div>
					</div>
				</div>
			</div>
			<div class="col-md-9 workarea">
				<div class="screen-remote-box panel panel-primary hidden">
					<ul class="panel-heading nav nav-tabs">
                    	<li class="active tab-chat"><a href="#wa-chat" data-toggle="tab"><i class="fa fa-terminal"></i> Chat</a></li>
						<li style="display:none;" class="tab-local-screen"><a href="#wa-ninja-screen" data-toggle="tab"><i class="fa fa-desktop"></i> Ninja Screen <i class="fa fa-times screen-local-stop"></i></a></li>
                    	<li style="display:none;" class="tab-remote-screen"><a href="#wa-mentor-screen" data-toggle="tab"><i class="fa fa-desktop"></i> Mentor Screen</a></li>
                    	<li style="display:none;" class="tab-remote-webcam"><a href="#wa-mentor-screen" data-toggle="tab"><i class="fa fa-camera"></i> Mentor Webcam</a></li>
                    	<li class="dropdown">
    						<a class="dropdown-toggle" data-toggle="dropdown" href="#">
      							Share <span class="caret"></span>
    						</a>
    						<ul class="dropdown-menu">
      							<li><a class="screen-local-start" href="javascript:"><i class="fa fa-desktop"></i> Screen</a></li>
      							<li class="divider"></li>
      							<li><a class="new-editor" href="javascript:"><i class="fa fa-i-cursor"></i> Text Editor</a></li>
    						</ul>
  						</li>
					</ul>
					<div class="panel-body tab-content">
                    	<div class="tab-pane fade active in" id="wa-chat">
                    		<div class="chat-list-wrap">
    							<ul class="list-group chat-list"></ul>
        						<div class="input-group">
                					<textarea class="form-control resizeBox chat-input" placeholder="Type a message" rows="1"></textarea>
									<span class="input-group-btn">
										<button class="btn btn-default btn-sm chat-send" type="button">Send</button>
									</span>
								</div>
    						</div>
                    	</div>
                    	<div class="tab-pane fade screen-remote" id="wa-mentor-screen">
							<canvas class="screen-remote-canvas" style="width:100%;"></canvas>
                        </div>
                    	<div class="tab-pane fade screen-local" id="wa-ninja-screen">
							<canvas class="screen-local-canvas" style="width:100%;"></canvas>
						</div>
					</div>
				</div>
			</div>
			<div class="dump hidden">
				<video class="dump-local" controls autoplay muted></video>
				<video class="dump-remote" controls autoplay></video>
				<audio class="dump-local" controls autoplay muted></audio>
				<audio class="dump-remote" controls autoplay></audio>
            	<div id="rtc-data"></div>
			</div>
		</div>
	</div>
	<div class="footer-spacer"></div>
